body{
    background-color: rgb(143, 143, 143);
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-blend-mode:multiply;
    background-size:100% 100%;
}
p{
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: antiquewhite;
}
#points{
    text-align: center;
    transform: translateY(-25px);
    transform: translateX(-120px);
    color: white;
    p:nth-child(1) {font-family: 'Courier New', Courier, monospace;font-size: large;}
    p:nth-child(2) {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: large;}
    p:nth-child(3) {font-family:Verdana, Geneva, Tahoma, sans-serif;font-size: large;}
}
#cooltext{
    transform: translateY(-150px) translateX(80px) scaleY(1.5);
    width: 30%;
}
#uffe{
    max-width: 20%;

    position: absolute;
    float: right;
    transform: translateX(20%);
}
#spotify{
    position: absolute;
    display: block;
    padding-left: 10%;
}
#fav{
    position: absolute;
    transform: scale(.5) translateX(500px) translateY(-40px);
}