body{
    background-color: rgb(143, 143, 143);
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-blend-mode:multiply;
    background-size:100% 100%;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: antiquewhite;
}
ul{
    color: white;
    font-size: larger;
    transform: translateY(-25px);
    li:nth-child(1) {font-family: 'Courier New', Courier, monospace;}
    li:nth-child(2) {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    li:nth-child(3) {font-family:Verdana, Geneva, Tahoma, sans-serif;}
}
#cooltext{
}